.message {
    padding: 10px;
    display: flex;
}

.message__popup {
    margin-left: 20px;
    padding: 20px 20px;

    position: relative;
    border-radius: 10px;
    background-color: rgb(6, 23, 52);
}

.message__popup:after {
    bottom: 0;
    left: -10px;
    width: 0;
    height: 0;

    position: absolute;
    content: '';
    border-bottom: 25px solid rgb(6, 23, 52);
    border-left: 20px solid transparent;
}

.message__name {
    color: #b5bbd7;
}

.messageWrapper {
    display: flex;
}

.message__message {
    color: #fff;
}

.message__time {
    padding-left: 10px;
    padding-top: 5px;
    color: rgba(255, 255, 255, 0.30);
}

.avatar {
    position: relative;
    bottom: -22px;
    width: 65px;
    height: 65px;
    background-color: white;
    border-radius: 50%;
}

.avatar img {
    width: 30px;
    position: relative;
    bottom: -12px;
    left: 17px;
}