.input:focus {
    outline: none;
    border: 2px solid #7ecd7e;
}

.superInput {
    padding: 2px;
    margin-bottom: 10px;
}

.errorInput {
    margin: 10px;
    padding: 2px;

    border: 2px solid #7ecd7e;
    background: #c96a6a;
}

.error {
    margin-bottom: 10px;

    color: #c96a6a;
    height: 20px;
}