.wrapper {
  display: flex;
  align-items: flex-start;
}

.error {
  color: red;
  height: 21px;
  margin-left: 10px;
}

.input {
  margin: 10px;
}

.input:focus {
  outline: none;
  border: #2fffd4 solid 2px;
}

.errorInput {
  margin: 10px;

  border: 2px solid red;
  outline: none;
}

.button{
  margin: 10px;
  outline: none;
}

.count {
  margin: 10px;
}